<div class="main-profile">
        <div class="topbar">
           <% if (user) { %>
           <li class="icons home">
              <a href="/">
              <img src="images/house.png">Home</a>
           </li>
           <% } %>
           <li class="icons logout">
              <a href="/">
              <img src="images/logout.png">Logout</a>
           </li>
           <li class="icons chat">
              <img src="images/chat.png" id="myBtn">
           </li>
        </div>
        <div class="container-user">
           <div class="row">
              <div class=" col-lg-offset-3 col-lg-6">
                 <div class="panel panel-default">
                    <div class="panel-body">
                       <div class="row">
                          <div class="col-lg-12">
                             <div class="row">
                                <div class="col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                                   <img class="img-circle img-responsive" src="<%= user.imgUrl %>">
                                </div>
                             </div>
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-lg-12">
                             <div class="row">
                                <div class="centered-text col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                                   <h2> <span itemprop="name"><%= user.displayName %></span></h2>
                                   <p itemprop="jobTitle"></p>
                                   <p><span itemprop="affiliation"><%= user.googleId %></span></p>
                                   <p>
                                      <i class="fa fa-map-marker"></i> <span itemprop="addressRegion"><%= user.address %></span>
                                   </p>
                                   <p itemprop="email"> <i class="fa fa-envelope"> </i> <a href="mailto:you@somedomain.com"><%= user.email %></a> </p>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="panel-footer">
                       <div class="row">
                          <div id="social-links" class=" col-lg-12">
                             <div class="row">
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-4 social-btn-holder">
                                   <a class="btn btn-social btn-block btn-delete" href="/">
                                   <i class="fa fa-trash-alt"></i>Delete
                                   </a>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-4 social-btn-holder">
                                   <a class="btn btn-social btn-block btn-edit" href="/">
                                   <i class="fa fa-edit"></i>Edit
                                   </a>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-4 social-btn-holder">
                                   <a class="btn btn-social btn-block btn-review" href="/reviews/new">
                                   <i class="fa fa-check-square"></i>Review
                                   </a>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <!-- end #main -->