<%var count = 35%>     
       

<div class="col-md-6">
        <div id="sitters">
           <ul>
              <% reviews.forEach(function(sitter){ %>
              <li>
                 <p><a href="sitters/<%= sitter._id%>" ><b><%= sitter.displayName %></b></a></p>
              <img src="<%=sitter.imgUrl%>" class="img-sitter" alt="Sitter image" />
                 <p><b>Address:</b><%=sitter.address%></p>
                 <div class="caption">
                 <h4 class="pull-right"><span><%=count%></span> per night</h4>
                 </div>
                 <a href="/payment" class="btn btn-primary icon">Book</a>
                 <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                 <hr class="style1">
                 <%count += 15%>
              </li>
             
              <br>
              <% }) %>
              <br>
           </ul>
        
        </div>
     </div>